.app{
    width: 1296px;
    margin: 0 auto;
}
.category_title{
    margin-top: 64px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
}

.popular_sales{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
}
.device_home{
    margin-top: 96px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
}